.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.ingredientList, .burgerPane {
  margin-top: 10%;
  border: black 1px solid;
  border-radius: 10px;
  height: 400px;
  width: 40%;
}

.ingredientList {
  margin-right: 30px;
}

.burgerPane{
  position: relative;
}

.clear {
  position: absolute;
  bottom: 20px;
  left: 45%;
}